.entry-header
    @apply relative

.post-content article
    @apply mb-8

.entry-content
    @apply block

.entry-content img
    @apply w-full mx-auto mb-4

.entry-content pre.wp-block-code
    @apply bg-gray-100 py-2 px-4 mb-4

.wp-block-code code
    @apply overflow-x-scroll pb-4 whitespace-pre

//Share widjet on single post pages
.share-social
    .share-grid
        a
            @apply p-2 rounded-lg
            svg
                color: white
                fill: white
                path
                    color: white
                    fill: white
//Post Navigation
.nav-links
    @apply md:flex md:flex-nowrap md:gap-4 md:justify-between
    > div
        @apply mb-4 md:w-1/2
    .nav-next
        a
            @apply md:block md:text-right
